#
# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_PROTO_LEFT
	bool "proto_left"
	depends on SOC_NRF52840_QIAA

config BOARD_PROTO_RIGHT
	bool "proto_right"
	depends on SOC_NRF52840_QIAA
